<html>

<body>
	<form method="get" action="/">
		<label>Agency ID: </label><input type="text" name="agency_id"> (ex. "FCC")</br />
		<label>Service ID: </label><input type="text" name="service_id"> (ex. "twitter")<br />
		<label>Tag: </label><input type="text" name="tag"> (use like a search term)<br />
		<input type="submit" value="submit" />
	</form>
	For <i>all</i> accounts, just leave the fields blank and click submit.
		
	<p>preview:</p>
	<%= erb :embed, :locals => {:url => @url }%>
	
	<hr />
	
	<p>embed code:</p>
	<textarea rows="20" cols="70">
		<%= erb :embed, :locals => {:url => @url } %>
	</textarea>

</body>
</html>